@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = null;
}

<link rel="stylesheet" href="~/css/mudOutput.css" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

<div class="wrapper">
    <header class="page-header">
        <h1 class="display-4 text-center">Creators Are Legion</h1>
    </header>
    <main id="mudOutputWindow" class="page-main">
        <ul id="mudOutputList">
            <li class="mud-output-item">Connecting to server...</li>
        </ul>
    </main>
    <footer class="page-footer">
        <form id="userCommandForm" class="row">
            <input type="text" class="col-10" id="userCommand"/>
            <button id="sendUserCommand" class="btn col-2">Send</button>
        </form>
    </footer>
</div>
<script src="~/dist/js/server.js"></script>