@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = null;
}

<link rel="stylesheet" href="~/css/mudOutput.css" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

<div class="wrapper">
    <header class="page-header">
        <h1 class="display-4 text-center">Welcome to ScratchMUD</h1>
    </header>
    <main id="mudOutputWindow" class="page-main">
        <ul id="mudOutputList">
        </ul>
    </main>
    <footer class="page-footer">
        <div class="row">
            <input type="text" class="col-10"id="userCommand"/>
            <button id="sendUserCommand" class="btn col-2">Send</button>
        </div>
        <div class="row">
            <button id="connectEventHub" class="btn btn-primary col-6">Connect to SignalR</button>
            <button id="sendTestMessages" class="btn col-6">Send Test Messages</button>
        </div>
    </footer>
</div>
<script src="~/dist/js/server.js"></script>