@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ScratchMUD</h1>
    <textarea id="messagesTextArea" rows="20" cols="100" readonly></textarea>
</div>
<button id="connectEventHub">Connect to SignalR</button>
<button id="sendRandomMessages">Send Random Messages</button>

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/serverEvents.js"></script>