@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="stylesheet" href="~/css/mudOutput.css" />

<div class="container">
    <h1 class="display-4 text-center">Welcome to ScratchMUD</h1>
    <ul class="row col-12 mudOutputList" id="mudOutputWindow">
        <li class="mudOutputItem">Test 1</li>
        <li class="mudOutputItem">Test 2</li>
        <li class="mudOutputItem">Test 3</li>
        <li class="mudOutputItem">Test 4</li>
        <li class="mudOutputItem">Test 5</li>
        <li class="mudOutputItem">Test 6</li>
    </ul>
    <div class="row col-12" style="margin-bottom:5px">
        <input type="text" id="userCommand" class="col-12"/>
    </div>
    <div class="row col-12">
        <button id="connectEventHub" class="btn btn-primary col-lg-4 col-md-12">Connect to SignalR</button>
        <button id="sendUserCommand" class="btn col-lg-4 col-md-12">Send</button>
        <button id="sendTestMessages" class="btn col-lg-4 col-md-12">Send Test Messages</button>
    </div>
</div>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/serverEvents.js"></script>